/* line 2, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
html body {
  width: 100%;
  margin: 0 0 0 0; }
  /* line 5, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body h1 {
    padding-top: 50px; }
  /* line 9, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body td, html body p {
    text-align: center; }
  /* line 12, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .navbar {
    padding-right: 25px; }
    /* line 14, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden; }
    /* line 20, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .navbar img {
      height: 50px;
      float: left; }
    /* line 24, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .navbar .navbar-right li a {
      padding-left: 25px;
      padding-right: 25px; }
  /* line 29, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .navbar-title {
    padding: 15px 15px 15px 15px;
    color: #ffffff; }
  /* line 33, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .jumbotron {
    margin-bottom: 0px;
    background-color: #2ecc71;
    height: 615px; }
    /* line 37, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .jumbotron h1 {
      text-align: center;
      font-family: 'Poiret One', cursive;
      font-size: 1000%;
      font-weight: bolder;
      padding: 0; }
    /* line 44, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .jumbotron h2 {
      text-align: center;
      font-family: 'Poiret One', cursive;
      font-size: 200%;
      font-weight: bolder;
      margin: 0; }
    /* line 51, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .jumbotron .title {
      padding-top: 12%; }
  /* line 55, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .preview-box {
    height: 500px; }
    /* line 57, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .preview-box h2 {
      font-family: 'Coda', cursive;
      font-weight: 800;
      text-align: center;
      font-size: 500%;
      padding-top: 35%; }
    /* line 64, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .preview-box button {
      border: 2px solid #000000;
      color: #000000;
      background-color: #a8a8a8; }
    /* line 69, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .preview-box button:hover {
      background-color: #d8d8d8; }
    /* line 72, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .preview-box a:visited {
      color: #000000; }
    /* line 75, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .preview-box button {
      font-family: 'Coda', cursive;
      font-weight: 600;
      text-align: center;
      padding: 5px 10px 5px 10px;
      margin-left: 40%; }
  /* line 83, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .circles {
    background-color: #e74c3c;
    opacity: 0.8;
    color: #ffffff; }
    /* line 87, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .circles img {
      padding-left: 40%; }
  /* line 91, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .circles:hover {
    opacity: 1;
    color: #000000; }
  /* line 95, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .ellipses {
    background-color: #3498db;
    opacity: 0.8;
    color: #ffffff; }
    /* line 99, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .ellipses img {
      padding-left: 41.8%; }
  /* line 103, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .ellipses:hover {
    opacity: 1;
    color: #000000; }
  /* line 107, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .hyperbolas {
    background-color: #f1c40f;
    opacity: 0.8;
    color: #ffffff; }
    /* line 111, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .hyperbolas img {
      padding-left: 40%;
      padding-top: 2%; }
  /* line 116, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .hyperbolas:hover {
    opacity: 1;
    color: #000000; }
  /* line 120, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body .footer {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000; }
    /* line 125, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body .footer p {
      margin-bottom: 0;
      font-family: "Comic Sans MS", cursive, sans-serif;
      color: #ffffff; }
  /* line 131, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
  html body table {
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-family: 'Comfortaa', cursive; }
    /* line 136, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body table td {
      padding: 15px 15px 15px 15px;
      border-right: 2px solid #000000; }
    /* line 140, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body table .header {
      font-size: 40px;
      font-family: 'Patua One', cursive; }
    /* line 144, /Users/shawnrobin/Desktop/Final Math Project/home.scss */
    html body table img {
      width: 10%; }

/*# sourceMappingURL=home.css.map */